:root{
    --text-shadow-color: #000000;
    --home-link-color: #ff8c00;
    --fruit-header-color: #daa520;
    --footer-text-shadow-color: #ff4500;
    --fruit-bg-color:#008000;
    --fruit-description-bg-color: #ffff00;
    --fruit-font-color: #8b4513;
    --fruit-link-hover-color: #228b22;
}
#fruit_picking_webpage{
    background-color: var(--fruit-bg-color);
}
#fruit_picking_title{
    font-family: "Knewave", fantasy;
    font-size: 60px;
    color: var(--fruit-header-color);
    text-shadow: 2px 2px var(--text-shadow-color);
    margin-left: 10px;
}
#papaya_tree_picking_image{
    margin-left: 105px;
}
#fruit_picking_description, #coconut_picking_guidelines, #other_fruit_picking_guidelines{
    font-family: "Knewave", sans-serif;
    font-size: 30px;
    color: var(--fruit-font-color);
    background-color: var(--fruit-description-bg-color);
    border: 40px solid var(--fruit-bg-color);
    padding: 10px;
}
#fruit_picking_navigation_link{
    font-family: "Knewave", sans-serif;
    font-size: 30px;
    color: var(--fruit-font-color);
}
#fruit_picking_navigation_link:hover{
    color: var(--fruit-link-hover-color);
}
#fruit_picking_navigation_link:visited{
    color: var(--fruit-font-color);
}
#home{
    position: initial;
    left: 100px;
    top: 150;
    font-family: "Knewave", monospace;
    color: var(--home-link-color);
    font-size: 30pt;
}
#home:hover{
    color: var(--fruit-description-bg-color);
}
.survivor_footer{
    background-image: url("bamboo_background.jpeg");
    color: var(--fruit-description-bg-color);
    text-shadow: 1px 1px var(--footer-text-shadow-color);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px;
}
.copyright_link, .storage_link{
    color: var(--fruit-description-bg-color);
}
.copyright_link:hover, .storage_link:hover{
    color: var(--home-link-color);
}
@media (max-width: 800px){
    #fruit_picking_title{
        font-size: 45px;
        margin-right: 5px;
    }
    #papaya_tree_picking_image{
        margin-left: 50px;
        width: 600px;
        height: 600px;
    }
    #fruit_picking_description, #coconut_picking_guidelines, #other_fruit_picking_guidelines{
        margin-right: 25px;
    }
    .survivor_footer{
        width: 90%;
        margin-left: 25px;
    }
}
@media (max-width: 500px){
    #fruit_picking_title{
        margin-left: 35px;
        margin-right: 0px;
    }
    #papaya_tree_picking_image{
        margin-left: 15px;
        width: 300px;
        height: 300px;
    }
    #fruit_picking_description, #coconut_picking_guidelines, #other_fruit_picking_guidelines{
        margin-right: 0px;
    }
    .survivor_fruit_picking_images{
        width: 295px;
    }
    .survivor_footer{
        width: 95%;
        margin-left: 5px;
    }
}